<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ex-bbs</title>
</head>

<body>
    <h1>掲示板</h1>
    <h2>記事入力</h2>
    <form action="#" th:action="@{/insertArticle}" method="post" th:object="${articleForm}">
        <div th:errors="*{name}" style="color:red">エラー!</div>
        <label for="name">投稿者名：<br><input type="text" name="name" id="name" th:field="*{name}"></label><br>
        <label for="content">投稿内容：<br><textarea name="content" id="content" cols="30" rows="3"
                th:field="*{content}"></textarea></label><br>
        <button type="submit">記事投稿</button>
    </form>

    <h2>記事一覧</h2>
    <section th:each="article: ${application.articleList}" style="border: 1px solid black; width: 300px;">
        <p>投稿者名： <span th:text="${article.name}"></span></p>
        <p>投稿内容：<br><span th:text="${article.content}"></span></p>
        <form th:action="@{/deleteArticle(id=${article.id})}" method="post">
            <button type="submit">記事削除</button>
        </form>

        <section th:each="comment: ${article.commentList}" th:if="${comment.articleId == article.id}"
            style="background-color: gainsboro; width: 100%;">
            <p>コメント者名： <span th:text="${comment.name}"></span></p>
            <p>コメント内容：<br><span th:text="${comment.content}"></span></p>
        </section>

        <form action="#" th:action="@{/insertComment}" method="post">
            <label for="name">名前：<br><input type="text" name="name" id="name"></label><br>
            <label for="content">コメント：<br><textarea name="content" id="content" cols="30"
                    rows="3"></textarea></label><br>
            <input type="text" name="articleId" id="articleId" th:value="${article.id}" hidden>
            <button type="submit">コメント投稿</button>
        </form>
    </section>
</body>

</html>
